<div class="exampage">
    <div [hidden]="done">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ selected.title }} </mat-card-title>
                <mat-card-subtitle>{{ selected.subtitle }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div #question class="color" [style]="'background-color:' + selected.color"></div>
            </mat-card-content>
            <mat-card-content>
                <p>
                    {{ selected.question }}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="onAnswer($event,true)">YES</button>
                <button mat-button (click)="onAnswer($event, false)">NO</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div [hidden]="!done">
        <mat-card class="example-card">
            <mat-card-content>
                 <p>Summery successes ({{totalSuccess }}), failures:({{ questions.length-totalSuccess }})</p>
            </mat-card-content>
            
            <mat-card-actions>
                <button mat-button (click)="startNew($event)">Start Over</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>